.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.subDivision {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.SubDivisionAdd {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.SubDivisionAdd>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.SubDivisionAdd>div>p {
    text-align: center;
    width: 30vw;
}

.modalSubDivision {
    display: flex;
    gap: 2vw;

}

.video {
    width: 40vw;
    aspect-ratio: 16 / 9;
}

.videoContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    cursor: pointer;
}

.frame:hover {
    transform: scale(1.1);
}

.persoon {
    cursor: pointer;
}

.personen {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.personen li ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.personen>li>div {
    display: flex;
    justify-content: space-between;
}

.personen>li>div>div {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.MensenMain {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100vw;
    padding: 20px;
    gap: 10px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}